/* WPP CTA */

.container-wa .floating-button {
	position: fixed;
	bottom: 40px;
	right: 40px;
	width: 60px;
	height: 60px;
	background-color: #25d366;
	color: white;
	border-radius: 50px;
	text-align: center;
	font-size: 35px;
	cursor: pointer;
	box-shadow: 0px 2px 5px #666;
}

.container-wa .floating-button:hover {
	background-color: #1fad53;
}

.container-wa .floating-button .icon {
	position: absolute;
	top: 0;
	left: 11px;
	right: 0;
	line-height: 60px;
	text-align: center;
	transition: all 0.3s;
}

.container-wa .floating-button .icon.wa {
	animation: wa-out 0.3s;
}

.container-wa .floating-button .icon.close {
	opacity: 0;
	margin: auto;
	transform: rotateZ(-70deg);
	animation: close-out 0.3s;
}

.container-wa .card {
	font-family: 'Open Sans', sans-serif;
	position: fixed;
	width: 350px;
	height: 300px;
	background-color: gray;
	border-radius: 5px;
	right: 40px;
	bottom: 120px;
	display: none;
	z-index: 99999;
}

.container-wa .card .banner-header {
	background-size: cover;
	color: white;
	padding: 20px;
	padding-bottom: 60px;
	border-radius: 20px 20px 0px 0px;
	background-color: #3c3c3c;
}

.container-wa .card .banner-body {
	flex-grow: 1;
	background-color: #eaeaea;
	padding: 15px;
	border-radius: 0px 0px 20px 20px;

}

.container-wa .card .banner-body .card-atendente {
	margin-top: -50px;
	background-color: white;
	padding: 15px;
	display: flex;
	flex-direction: column;
	border-radius: 15px;
}

.container-wa .card .banner-body .card-atendente .dados-atendente {
	display: flex;
}

.container-wa .card .banner-body .card-atendente .dados-atendente .avatar {
	padding: 15px;
}

.container-wa .card .banner-body .card-atendente .dados-atendente .avatar img {
	border-radius: 50%;
}

.container-wa .card .banner-body .card-atendente .dados-atendente .informacoes {
	padding: 15px;
}

.container-wa .card .banner-body .card-atendente .botao-atendente {
	display: flex;
}

.container-wa .card .banner-body .card-atendente .botao-atendente .btn {
	color: white;
	background-color: #24d366;
	border-radius: 15px;
	width: 100%;
	padding: 10px;
	text-align: center;
	text-decoration: none;
}

.container-wa.is-opened .icon.wa {
	animation: wa-in 0.15s linear;
	animation-fill-mode: forwards;
}

.container-wa.is-opened .icon.close {
	animation: close-in 0.2s;
	animation-delay: 0.1s;
	animation-fill-mode: forwards;
}

.container-wa.is-opened .card {
	display: flex;
	flex-direction: column;
}

.container-wa.is-opened .icon.wa {
	animation: wa-in 0.15s linear;
	animation-fill-mode: forwards;
}

.container-wa.is-opened .icon.close {
	animation: close-in 0.2s;
	animation-delay: 0.1s;
	animation-fill-mode: forwards;
}

.card {
	border-radius: 20px !important;
}

@keyframes close-in {
	from {
		opacity: 0;
		transform: rotateZ(-70deg);
	}

	to {
		opacity: 1;
		transform: rotateZ(0deg);
	}
}

@keyframes close-out {
	from {
		opacity: 1;
		transform: rotateZ(0deg);
	}

	to {
		opacity: 0;
		transform: rotateZ(-70deg);
	}
}

@keyframes wa-in {
	from {
		opacity: 1;
		transform: rotateZ(0deg);
	}

	to {
		opacity: 0;
		transform: rotateZ(180deg);
	}
}

@keyframes wa-out {
	from {
		opacity: 0;
		transform: rotateZ(180deg);
	}

	to {
		opacity: 1;
		transform: rotateZ(0deg);
	}
}


/* Criação do Label solicitada pelo Guilherme:*/

.container-wa .labelPrincipal {
    position: fixed;
    bottom: 72px;
    right: 110px;
    width: 193px;
    height: 60px;
    background-color: white;
    color: #3c3c3c;
    border-radius: 50px 50px 0px 50px;
    text-align: center;
    font-size: 15px;
    line-height: 19px;
    font-weight: bold;
    padding-left: 16px;
    cursor: pointer;
    letter-spacing: 0.7px;
    padding-top: 12px;
    box-shadow: 0px 2px 9px #66666636;
    padding-right: 17px;
}
/* FIM CTA WPP */



.gt3_practice_list__item {
	height: 600px;
}

.result_message {
	background-color: #109c45;
	color: white;
	font-weight: bold;
	padding: 21px;
	border-radius: 5px;

}

.result_message>i {
	margin-right: 10px;
}
